
<%- include('partials/header'); -%>
<body id="home">
<%- include('partials/navbar'); -%>

<h1>Dashboard</h1>
<h2>DriveTest Booking Kiosk</h2>

<%- include('partials/footer'); -%>

</body>
